<h1>{{title}}</h1>
<form class="" action="/sessions" method="POST">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button>Login</button>
</form>

<ul >
     <li ><a class="register" href="/users/new">Sign up here !</a></li>

   </ul>
