<div class="add_new">
    <a href="/applicants/new">Add new applicants</a>
</div>


{{#each applications }}
  <div>
    <p>Name: {{this.applicantName}}</p>
    <p>D.O.B.: {{this.applicantDob}}</p>
    <form method="post" action="/identities">
      <input type="hidden" name="application" value="{{this._id}}">
      <button type="submit">Verify</button>
    </form>
  <div>
{{/each}}
