<div class="add_new">
    <a href="/applications/new">Add new applicants</a>
</div>


{{#each applications }}
  <div>
    <p>Name: {{this.applicantName}}</p>
    <p>D.O.B.: {{this.applicantDob}}</p>
    <form method="get" action="/applications/{{this.id}}">
      <button type="submit">Verify</button>
      {{!-- <button class="btn waves-effect waves-light" type="submit" name="action">
        Verify<i class="material-icons right">done</i>
      </button> --}}
    </form>
  <div>
{{/each}}
