<div class="row">
  <div class="col s12 m4 offset-m4">
    <form action="/applications" method="post">
      <label>Applicant name: <input type='text' name='applicantName'></label>
      <label>Applicant D.O.B.: <input type='text' name='applicantDob'></label>
      <input class="btn-large waves-effect waves-light teal lighten-1"type='submit' value="Add">
    </form>
  </div>
</div>