<div class="add_new">
    <a href="/applicants/new">Add new applicants</a>
</div>


{{#each applicants }}
  <div>
    <p>Name: {{this.applicantName}}</p>
    <p>D.O.B.: {{this.applicantDob}}</p>
    <button type="button">Verify</button>
  <div>
{{/each}}
