<form action="/applicants" method="post">
<label>Applicant name: <input type='text' name='applicantName'></label>
<br>
</br>
<label>Applicant D.O.B.: <input type='text' name='applicantDob'></label>
<br></br>
<input class="btn-large waves-effect waves-light teal lighten-1"type='submit' value="Add">
</form>
