<h1>{{title}}</h1>

<form action="/users" method="post">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button>Sign up</button>
</form>

<ul >

     <li ><a href="/sessions/new">login</a></li>
     <li ><a href="/logout">logout</a></li>
   </ul>
