
<div class="row">
  <div class="col s12 m4 offset-m4">
    <form action="/users" method="post">
      <input type="text" name="username" placeholder="username">
      <input type="password" name="password" placeholder="password">
      <button class="waves-effect waves-light btn" >Sign up</button>
    </form>
  </div>
</div>
