<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<ul >

     <li ><a class="register" href="/users/new">Sign up here !</a></li>
     <li ><a class="login"  href="/sessions/new">login</a></li>
     <li ><a class="logout"  href="/">logout</a></li>

   </ul>
