<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blockchain</title>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <!-- Compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" media="screen,projection">
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    
  </head>
  <body>

    <nav class="white" role="navigation">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Verify.me</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">  
          <li><a href="/users/new">Sign Up</a></li>
          <li><a href="/sessions/new">Login</a></li>
          <li><a href="/sessions">Logout</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/users/new">Sign Up</a></li>
          <li><a href="/sessions/new">Login</a></li>
          <li><a href="/sessions">Logout</a></li>
        </ul>
      </div>
    </nav>
   
    {{{body}}}

    <footer class="page-footer teal">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Project Bio</h5>
            <p class="grey-text text-lighten-4">We are a team of Makers students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


          </div>
          <div class="col l3 s12">
            {{!-- <h5 class="white-text">Settings</h5> --}}
            <ul>
              {{!-- <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li> --}}
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><a class="white-text" href="https://github.com/alexscotttonge">Alex ST</a></li>
              <li><a class="white-text" href="https://github.com/ainsleybc">Ainsley Chang</a></li>
              <li><a class="white-text" href="https://github.com/Pablo123GitHub">Pablo Vidal</a></li>
              <li><a class="white-text" href="https://github.com/CWongdabest">Canace Wong</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Made by <a class="brown-text text-lighten-3" href="https://github.com/alexscotttonge/blockchain-for-asylum-seekers">Makers - September 2017</a>
        </div>
      </div>
    </footer>
    {{!-- Scripts --}}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="/js/init.js"></script>
  </body>
</html>
