<h1>Sign up form</h1>


<form class="" action="/register" method="post">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button class="waves-effect waves-light btn" >Sign up</button>
</form>
<br>
  <div class="">
      <a href="/login" class="waves-effect waves-light btn">login</a>
  </div>
  <br>

  <div class="">
    <a href="/logout" class="waves-effect waves-light btn">logout</a>
  </div>
